body {
    font-family: 'Ibarra Real Nova', serif;
    width: 1500px;
    height: 1800px;
    margin: 0;
    /*background-color:rgba(68, 100, 176,0.3);*/
}

/*Header style*/
#header {
    width: 96%;
    height: 1%;
    background-color: rgba(234, 138, 43,0.5);
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
    padding: 1%;
}

#links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pages {
    display: inline-block;
    width: 10%;
    background-color: rgba(53, 0, 241, 0.4);
    border: none;
    border-radius: 5px;
    text-align: center;
}
a {
    text-decoration: none;
    padding: 15% 15%;
    color:rgb(255, 255, 230);
}

a:hover {
    color:rgb(255, 255, 153);
}

#account {
    display: inline;
    position: relative;
    top: -20px;
    left:900px;
}


/*Main Style*/
#main {
    width: 81%;
    /*height:1700px;*/
    background-color: rgba(145, 221, 241,0.5);
    /*margin-right: 1%;*/
    margin-bottom: 1%;
    margin-left: 1%;
    padding: 1%;
    float: left;
    
}
#articleOne {
    text-align: justify;
    letter-spacing: 0.2px;
    width: 100%;
    /*height: 1000px;*/
}

#articleTwo {
    text-align: justify;
    letter-spacing: 0.2px;
    width: 100%;
    background-color: rgb(0, 49, 0);
    color: rgb(199, 251, 54);
    }

.photo {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    max-width: 1060px;
}

.artFooter {
    font-style: italic;
    background-color: rgba(255, 179, 179, 0.2);
}
/*Aside style*/

#sidebar {
    width: 15%;
    /*height: 500px;*/
    margin-right: 1%;
    margin-bottom: 1%;
    padding-top: 1%;
    background-color: rgba(145, 135, 241,0.2);
    float:right;
}

#xrate {
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid #9999;
    padding: 1px;
   
}
.info {
    background-color: fuchsia;
}
#others {
    list-style-type: none;
    }
.other-picture {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    max-width: 140px;
}
.other-titles {
    text-align: justify;
    letter-spacing: 0.1px;
    width: 92%;
    margin: 2%;
    padding: 2%;
}
input {
     border: 1px solid #06C;
     border-radius: 5px;
}

form#contact-form {
    display: block;
}
textarea#message {
    height: 240px;
    border: 1px;
    border-style: dashed;
    border-radius: 5px;
    
}

/*Footer Style*/

#footer {
    clear: both;
    width: 96%;
    height: 2%;
    background-color: rgba(234, 138, 43,0.5);
    margin: 1%;
    padding: 1%;
}
